@import 'src/styles/breakpoints.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/typography.scss';

.code-blocks {
  @media #{$mq-xl} {
    max-width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$mq-md} {
    flex-direction: row;
  }

  @media #{$mq-sm} {
    padding: 2rem 2rem 0 2rem;
  }

    display: flex;
    flex-direction: column;

  .demo-wrapper {

    @media #{$mq-md} {
      flex-direction: row;
      flex-wrap: wrap;
    }

    display: flex;
    flex-direction: column;

    .demo {

      @media #{$mq-md} {
        max-width: 50%;
        &:nth-of-type(1n) { 
          margin-right: 1rem;
        }
      }

      &--header {
        @extend %body-lg;
        color: $gray-300;
        font-weight: 600;
      }

      &--desc {
        @extend %body;
        color: $gray-700;
        max-width: 85%;

      }
    }

  }

}