$bp-xs: 22.5rem; // 360px
$bp-sm: 37rem; // 599px
$bp-md: 50rem; // 799px
$bp-lg: 74rem; // 1199px
$bp-xl: 90rem; //1440px

$mq-xs: '(min-width: #{$bp-xs})';
$mq-sm: '(min-width: #{$bp-sm})';
$mq-md: '(min-width: #{$bp-md})';
$mq-lg: '(min-width: #{$bp-lg})';
$mq-xl: '(min-width: #{$bp-xl})';

$margin-sm: 1rem;
$margin-lg: 3rem;
