// global color setup
:root {
  --gray-color-hue: 0;
  --gray-color-saturation: 5%;
}

// sass variables
$primary: #F16822;
$primary-dark: #E03000;
$primary-light: #FDA733;

$background: #1D1A1A;

$secondary: hsl(0, 5, 18%);
$secondary-dark: hsl(0, 5, 10%);

$gray-100: hsl(35, 38%, 94%); //#F5F0E9

$gray-200: hsl(35, 21%, 89%); //#F5F5F5
$gray-300: hsl(35, 11%, 77%); //#cac5bd

$gray-400: hsl(var(--gray-color-hue), var(--gray-color-saturation), 91%); //#E8E8E8

$gray-500: hsl(var(--gray-color-hue), var(--gray-color-saturation), 85%); //#D9D9D9

$gray-600: hsl(var(--gray-color-hue), var(--gray-color-saturation), 75%); //BFBFBF

$gray-700: hsl(var(--gray-color-hue), var(--gray-color-saturation), 55%);

$gray-800: hsl(var(--gray-color-hue), var(--gray-color-saturation), 35%);

$gray-900: hsl(var(--gray-color-hue), var(--gray-color-saturation), 15%);

$white: hsl(var(--gray-color-hue), var(--gray-color-saturation), 100%);
$black: hsl(var(--gray-color-hue), var(--gray-color-saturation), 0%);
