@import 'src/styles/breakpoints.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/typography.scss';

.hero {
  @media #{$mq-xl} {
    max-width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  @media #{$mq-md} {
    padding: 1rem 0;
    flex-direction: row;
  }
  flex-direction: column;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .left-column {
    @media #{$mq-lg} {
      padding: 2rem 0;
    }
    @media #{$mq-md} {
      flex-direction: row;
      width: 30%;
      margin-right: 1rem;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
  }

  .right-column {
    @media #{$mq-lg} {
      padding: 2rem 0;
      margin-right: 2rem;
    }

    @media #{$mq-md} {
      flex-direction: row;
      width: 60%; 
    }
    padding: 0;
    width: 100%
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .title {
    @media #{$mq-lg} {
      font-size: 56px;
      line-height: 64px;
    }
    @media #{$mq-md} {
      display: none;
    }
    @extend %h1;
    color: $gray-300;
    text-align: left;
    display: block;
  }

  .brand {
    @media #{$mq-md} {
      display: block;
    }
    max-width: 120px;
    display: none;
  }
}

.hero .link-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  &--item {
    display: flex;
    align-items: center;

    .link {
      @extend %body;
      color: $gray-300;
      font-weight: 600;
      align-self: center;
      transition: ease-out .3s;

      &:hover {
        color: $gray-800;
      }
    }

    .indicator {
      width: 12px;
      height: 50px;
      background: $primary;
    }

    .dark {
      background: $primary-dark;
    }

    .light {
      background: $primary-light;
    }
  }
}